<h3>Plot Data</h3>
<div class="card mb-4">
    <div class="card-header"><strong>Select Plot Type & Column</strong></div>
    <div class="card-body">
        <form method="POST" action="{% url 'preprocessing:create-plot' object.id %}">
            {% csrf_token %}
            <div class="row g-3 align-items-end">
                <!-- Select Plot Type -->
                <div class="col-md-6">
                    <label for="plotType" class="form-label">Plot Type</label>
                    <select class="form-select" id="plotType" name="plot_type" required>
                        {% for supported_plot_type in object.SUPPORTED_PLOT_TYPES %}
                            <option value="{{ supported_plot_type }}" {% if supported_plot_type == preprocessing_plot_type %}selected{% endif %}>
                                {{ supported_plot_type }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Select Column -->
                <div class="col-md-6">
                    <label for="plotColumn" class="form-label">Column</label>
                    <select class="form-select" id="plotColumn" name="column_name" required>
                        {% for column_name in object.data_columns.keys%}
                            <option value="{{ column_name }}">{{ column_name|title }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Submit Button -->
                <div class="col-12">
                    <button type="submit" class="btn btn-primary w-100">Generate Plot</button>
                </div>
            </div>
        </form>
    </div>
</div>