{% extends "common/base.html" %}

{% block title %}List of uploaded data entries{% endblock %}

{% block content %}
<div class="d-flex align-items-center">
    <h1 class="mb-1 me-4">List of uploaded data entries</h1>
    <a href="{% url 'admin:preprocessing_dataupload_changelist' %}" class="btn btn-primary btn-sm">Add</a>
</div>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Details</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Admin Page</th>
                <th>Preprocessing</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
                <tr>
                    <td>{{ obj.name }}</td>
                    <td>{{ obj }}</td>
                    <td>{{ obj.created_at|date:"Y-m-d H:i" }}</td>
                    <td>{{ obj.updated_at|date:"Y-m-d H:i" }}</td>
                    <td>{{ obj.get_admin_change_url }}</td>
                    <td><a href="{% url 'preprocessing:data-detail' obj.pk %}">Preprocess</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No objects available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include "common/pagination.html" with page=page_obj %}
{% endblock %}