{% extends "common/base.html" %}
{% block content %}

<div class="container mt-4">
    <h2 class="mb-3">Analyze Time Series Data</h2>
    <div class="mb-3">{{ object }}</div>
    <div class="row g-4">
        <div class="col-md-4">
            {% if form.errors or validation_errors %}
                <div class="alert alert-danger">{{ form.errors }}</div>
            {% endif %}
            <form method="post" action="{% url 'linear_regression:linear-regression-time-series-create' %}">
                {% csrf_token %}

                <!-- Target Column -->
                <div class="mb-3">
                    <label for="column" class="form-label">Target Column</label>
                    <select class="form-select" id="targetColumn" name="target_column" required>
                        {% for col in regression_columns_options %}
                            <option value="{{ col }}"{% if col == linear_regression_target_column %} selected{% endif %}>{{ col }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row mb-3 align-items-center">
                    <!-- Model Type -->
                    <div class="col-md-6">
                        <label for="modelType" class="form-label">Model</label>
                        <select class="form-select" id="modelType" name="model_type" required>
                            {% for model_type in model_types %}
                                <option value={{ model_type.0 }}
                                {% if model_type.0 == used_model_type %}
                                    selected
                                {% endif %}>
                                    {{ model_type.1 }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- Lag Size -->
                    <div class="col-3">
                        <label for="lag" class="form-label">Lag Size</label>
                        <input type="number" class="form-control" id="lag" name="lag"
                               {% if linear_regression_lag %}
                                   value="{{ linear_regression_lag }}"
                               {% else %}
                                   value="1"
                               {% endif %}
                        min="1" required>
                    </div>
                    <!-- Forecast Horizon -->
                    <div class="col-3">
                        <label for="forecastHorizon" class="form-label">Forecast</label>
                        <input type="number" class="form-control" id="forecastHorizon" name="forecast_horizon"
                               {% if forecast_horizon %}
                                   value="{{ forecast_horizon }}"
                               {% else %}
                                   value="0"
                               {% endif %}
                        min="0">
                    </div>
                    <!-- Train / Validation / Test slider -->
                    <div class="g-3 mt-1 md-1 pt-5 pd-5">
                        <div id="rangeSlider"></div>
                        <label for="rangeSlider" class="form-label  g-3 mt-1 md-1">Train | Validation | Test</label>
                    </div>
                    <!-- Max Depth -->
                    <div class="row g-3 mt-1 md-1" id="tree-row">
                        <div class="col-md-6" id="treeParamsWrapper" style="min-height: 50px;">
                            <div id="treeParams" style="opacity: 0; pointer-events: none; transition: opacity 0.3s;">
                                <label for="maxDepth" class="form-label">Max Depth</label>
                                <input type="number" class="form-control" id="maxDepth" name="max_tree_depth" min="1" value="{{ max_tree_depth }}">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Hidden Object ID -->
                <input type="hidden" id="objectId" name="object_id" value="{{ object.id }}" >
                <input type="hidden" name="train_percent" id="train-input">
                <input type="hidden" name="val_percent" id="val-input">
                <input type="hidden" name="test_percent" id="test-input">

                <!-- Submit -->
                <button type="submit" class="btn btn-primary">Analyze</button>
            </form>
        </div>
        <div class="col-md-8">
            <div class="card h-100">
                <div class="card-header"><strong>DataFrame.head(5)</strong></div>
                <div class="card-body">
                    <div class="table-responsive">
                        {{ statistics.head|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if linear_regression_statistics and base64_image %}
        <div class="row mb-4">
            <!-- Forecast Plot Column -->
            <div class="col-md-9">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Forecast Plot</h5>
                            {% if base64_image %}
                                <div class="mt-4">
                                    <img id="plotResult" src="{{ base64_image }}" alt="Plot of {{ base64_image }}" class="img-fluid rounded">
                                </div>
                            {% else %}
                                <p class="text-muted mt-3">No image available.</p>
                            {% endif %}
                    </div>
                </div>
            </div>

            <!-- Statistics Column -->
            <div class="col-md-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Model Summary</h5>
                        <p><strong>R²:</strong> {{ linear_regression_statistics.r_2 }}</p>
                        <p><strong>MSE:</strong> {{ linear_regression_statistics.mse }}</p>
                        <p><strong>RMSE:</strong> {{ linear_regression_statistics.rmse }}</p>
                        <p><strong>MAE:</strong> {{ linear_regression_statistics.mae }}</p>
                        <p><strong>MAPE:</strong> {{ linear_regression_statistics.mape }}</p>
                        <p><strong>Slope:</strong> {{ linear_regression_statistics.slope }}</p>
                        <p><strong>Intercept:</strong> {{ linear_regression_statistics.intercept }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Back Button -->
    <div class="mt-4">
        <a href="{% url 'general:data-list' %}" class="btn btn-secondary">Back to List</a>
    </div>
</div>

<script>
    const modelTypeSelect = document.getElementById("modelType");
    const treeParams = document.getElementById("treeParams");

    function toggleMaxDepthParam() {
        const treeParams = document.getElementById("treeParams");
        if (modelTypeSelect.value === "regression_tree") {
            treeParams.style.opacity = "1";
            treeParams.style.pointerEvents = "auto";
        } else {
            treeParams.style.opacity = "0";
            treeParams.style.pointerEvents = "none";
        }
    }
    modelTypeSelect.addEventListener("change", toggleMaxDepthParam);
    document.addEventListener("DOMContentLoaded", toggleMaxDepthParam);
</script>
<script>
    const slider = document.getElementById("rangeSlider");

    noUiSlider.create(slider, {
        start: [50, 80],
        connect: [true, true, true],
        range: { min: 1, max: 99 },
        step: 1,
        tooltips: [true, true],
        format: {
          to: value => Math.round(value),
          from: value => Number(value)
        },
    });

    const trainInput = document.getElementById("train-input");
    const valInput = document.getElementById("val-input");
    const testInput = document.getElementById("test-input");

    slider.noUiSlider.on("update", function (values) {
    const train = parseInt(values[0]);
    const val = parseInt(values[1]) - train;
    const test = 100 - parseInt(values[1]);

    trainInput.value = train;
    valInput.value = val;
    testInput.value = test;
    });
</script>


{% endblock %}
