{% extends "common/base.html" %}
{% load static %}
{% load dict_extras %}

{% block head %}
    <link rel="stylesheet" href="{% static 'preprocessing/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">Data Details</h2>

    <!-- Data Info Section -->
    <div class="d-flex gap-2 align-items-center mb-4">
        <span><strong>Name:</strong> {{ object.name }}</span>
        <span><strong>Created At:</strong> {{ object.created_at|date:"Y-m-d H:i" }}</span>
        <span><strong>Updated At:</strong> {{ object.updated_at|date:"Y-m-d H:i" }}</span>
    </div>

    <!-- Statistics Sections -->
    <div class="row g-4">
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-header"><strong>DataFrame.info()</strong></div>
                <div class="card-body">
                    <pre class="bg-light p-3 rounded w-100">{{ statistics.info|safe }}</pre>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-header"><strong>DataFrame.describe().T</strong></div>
                <div class="card-body">
                    <div class="table-responsive">
                        {{ statistics.describe|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-4 align-items-stretch">
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-header"><strong>DataFrame.head(5)</strong></div>
                <div class="card-body">
                    <div class="table-responsive">
                        {{ statistics.head|safe }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-header"><strong>Update Column Data Types</strong></div>
                <div class="card-body">
                    <div class="row">
                        <form method="POST" action="{% url 'preprocessing:change-column-type' object.id %}">
                            {% csrf_token %}
                            <div class="table-responsive col-12">
                                <table class="table table-bordered">
                                    <thead class="table-light">
                                        <tr>
                                            <th>Column Name</th>
                                            <th>Current Type</th>
                                            <th>New Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for col_name, col_type in object.data_columns.items %}
                                            <tr>
                                                <td>{{ col_name }}</td>
                                                <td>{{ col_type|title }}</td>
                                                <td>
                                                    <select class="form-select" name="data_type_{{ col_name }}">
                                                        {% for data_type in object.SUPPORTED_COLUMN_TYPES %}
                                                            <option value="{{ data_type }}" {% if col_type == data_type %}selected{% endif %}>
                                                                {{ data_type|title }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="row mb-2 pb-1">
                                <div class="align-items-center col-2 gap-3 mt-3">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                                <div class="col-10">
                                    <!-- Messages -->
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show m-0" role="alert">
                                                {{ message|capfirst }}
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br>


    <div class="row">
        <div class="col-12 md-2">
            <h3>Augmented Dickey-Fuller (ADF) Test</h3>
            <div class="card mb-4">
                <div class="card-header"><strong>ADF Test Parameters</strong></div>
                <form method="post" action="{% url "preprocessing:create-stationary-test-results" object.id %}" class="p-3 mb-4">

                    {% csrf_token %}
                    <div class="row">
                        <!-- Target Column Selector -->
                        <div class="col-3 mb-3">
                            <label for="targetColumn" class="form-label">Target Column</label>
                            <select class="form-select" id="targetColumn" name="target_column" required>
                                {% for col in numerical_columns %}
                                    <option value="{{ col }}" {% if col == last_adf_test_target_column %}selected{% endif %}>{{ col }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <!-- Max Augmentation Count -->
                        <div class="col-2 mb-3">
                            <label for="maxAugmentation" class="form-label">Max Augmentation Count</label>
                            <input type="number" class="form-control" id="maxAugmentation" name="max_augmentation_count"
                                   value="{{ last_adf_test_results_max_augmentation_count|default:10 }}" min="1" max="100" required>
                        </div>

                        <!-- Differentiate Count -->
                        <div class="col-2 mb-3">
                            <label for="differentiateCount" class="form-label">Differentiate Count</label>
                            <input type="number" class="form-control" id="differentiateCount" name="differentiate_count"
                                   value="{{ last_adf_test_results_differentiate_count|default:1 }}" min="1" max="10" required>
                        </div>





                    </div>




                    <div class="row">

                        <!-- Test Version Radio Buttons -->
                        <div class="col-12 mb-3">
                            <label class="form-label">Test Version</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="test_version" id="testVersionN" value="n"
                                       {% if last_adf_test_results_test_version == 'n' or not last_adf_test_results_test_version %}checked{% endif %}>
                                <label class="form-check-label" for="testVersionN">n - No constant, no deterministic trend</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="test_version" id="testVersionC" value="c"
                                       {% if last_adf_test_results_test_version == 'c' %}checked{% endif %}>
                                <label class="form-check-label" for="testVersionC">c - Adds constant, no deterministic trend</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="test_version" id="testVersionT" value="t"
                                       {% if last_adf_test_results_test_version == 't' %}checked{% endif %}>
                                <label class="form-check-label" for="testVersionT">t - Adds deterministic trend and constant</label>
                            </div>
                        </div>
                    </div>

                    <!-- Hidden test type field -->
                    <input type="hidden" name="test_type" value="adf">

                    <!-- Submit Button -->
                    <div class="row">
                        <button type="submit" class="col-12 btn btn-primary">Run ADF Test</button>
                    </div>
                </form>

            {% if last_adf_test_results %}
                <div class="row">
                    <div class="col-12">
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>ADF Test statistic</th>
                                    <th>Augmentation Count</th>
                                    <th>Critical Value ADF (1%)</th>
                                    <th>Critical Value ADF (5%)</th>
                                    <th>Critical Value ADF (10%)</th>
                                    <th>Breusch–Godfrey test (5 lags) p-value</th>
                                    <th>Breusch–Godfrey test (10 lags) p-value</th>
                                    <th>Breusch–Godfrey test (15 lags) p-value</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in last_adf_test_results_indices %}
                                    <tr class="{% if i in last_adf_test_results_highlight_indices %}highlight-row{% endif %}">
                                        <td>{{ i }}</td>
                                        <td>{{ last_adf_test_results|get_item:"ADF Test statistic"|get_item:i|floatformat:4 }}</td>
                                        <td>{{ last_adf_test_results|get_item:"Augmentation Count"|get_item:i }}</td>
                                        <td>{{ last_adf_test_results|get_item:"Critical Value ADF (1%)"|get_item:i }}</td>
                                        <td>{{ last_adf_test_results|get_item:"Critical Value ADF (5%)"|get_item:i }}</td>
                                        <td>{{ last_adf_test_results|get_item:"Critical Value ADF (10%)"|get_item:i }}</td>
                                        <td>{{ last_adf_test_results|get_item:"Test BG (5 lags) (p-value)"|get_item:i|floatformat:4 }}</td>
                                        <td>{{ last_adf_test_results|get_item:"Test BG (10 lags) (p-value)"|get_item:i|floatformat:4 }}</td>
                                        <td>{{ last_adf_test_results|get_item:"Test BG (15 lags) (p-value)"|get_item:i|floatformat:4 }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-6 mb-4">
            <h3>Phillips-Perron (PP) Test</h3>
            {% if pp_test_results %}
                <pre>{{ pp_test_results.summary }}</pre>
            {% else %}
                <div>No data.</div>
            {% endif %}

        </div>
        <div class="col-6 mb-4">
            <h3>Kwiatkowski–Phillips–Schmidt–Shin (KPSS) Test</h3>
            {% if kpss_test_results %}
                <div>Test statistic: {{ kpss_test_results.test_statistic }}</div>
                <div>P-Value: {{ kpss_test_results.p_value }}</div>
            {% else %}
                <div>No data.</div>
            {% endif %}

        </div>
    </div>
    {% include "preprocessing/components/create_image.html" %}

    <!-- Back Button -->
    <div class="mt-4">
        <a href="{% url 'general:data-list' %}" class="btn btn-secondary">Back to List</a>
    </div>
</div>
{% endblock %}
