{% extends "common/base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-3">Data Details</h2>

    <!-- Data Info Section -->
    <div class="d-flex gap-2 align-items-center mb-4">
        <span><strong>Name:</strong> {{ object.name }}</span>
        <span><strong>Created At:</strong> {{ object.created_at|date:"Y-m-d H:i" }}</span>
        <span><strong>Updated At:</strong> {{ object.updated_at|date:"Y-m-d H:i" }}</span>
    </div>

    <!-- Statistics Sections -->
    <div class="row g-4">
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-header"><strong>DataFrame.info()</strong></div>
                <div class="card-body">
                    <pre class="bg-light p-3 rounded w-100">{{ statistics.info|safe }}</pre>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-header"><strong>DataFrame.describe().T</strong></div>
                <div class="card-body">
                    <div class="table-responsive">
                        {{ statistics.describe|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-4 align-items-stretch">
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-header"><strong>DataFrame.head(5)</strong></div>
                <div class="card-body">
                    <div class="table-responsive">
                        {{ statistics.head|safe }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-header">Update Column Data Types</div>
                <div class="card-body">
                    <div class="row">
                        <form method="POST" action="{% url 'preprocessing:change-column-type' object.id %}">
                            {% csrf_token %}
                            <div class="table-responsive col-12">
                                <table class="table table-bordered">
                                    <thead class="table-light">
                                        <tr>
                                            <th>Column Name</th>
                                            <th>Current Type</th>
                                            <th>New Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for col_name, col_type in object.data_columns.items %}
                                            <tr>
                                                <td>{{ col_name }}</td>
                                                <td>{{ col_type|title }}</td>
                                                <td>
                                                    <select class="form-select" name="data_type_{{ col_name }}">
                                                        {% for data_type in object.SUPPORTED_COLUMN_TYPES %}
                                                            <option value="{{ data_type }}" {% if col_type == data_type %}selected{% endif %}>
                                                                {{ data_type|title }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="row mb-2 pb-1">
                                <div class="align-items-center col-2 gap-3 mt-3">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                                <div class="col-10">
                                    <!-- Messages -->
                                    {% if messages %}
                                        {% for message in messages %}
                                            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show m-0" role="alert">
                                                {{ message|capfirst }}
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 md-2">
            <h3>Time series stationary tests</h3>
        </div>
    </div>

    {% include "preprocessing/components/create_image.html" %}

    <!-- Back Button -->
    <div class="mt-4">
        <a href="{% url 'general:data-list' %}" class="btn btn-secondary">Back to List</a>
    </div>
</div>
{% endblock %}
